.btn {
  border-radius: 5px;
  background-color: #ccccff;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.flex{
  display: flex;
  border-radius: 5px;
  background-color: #ccccff;
  padding: 10px;
  text-decoration: none;
  color: white;
}
